<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'createLocationModal.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="error" color="danger" class="error-message">
      <ion-icon name="alert-circle"></ion-icon>
      {{ error }}
    </ion-card-content>

    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item class="field-item">
          <ion-label position="floating">{{ 'createLocationModal.name' | translate }} *</ion-label>
          <ion-input
            [(ngModel)]="name"
            name="name"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-note class="location-hint">{{ 'createLocationModal.hint' | translate }}</ion-note>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="loading || !name.trim()"
          class="submit-button"
        >
          <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
          <span *ngIf="!loading">{{ 'createLocationModal.submit' | translate }}</span>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
